.n2 {
    background-image: linear-gradient(to bottom, #4582bc, #5886b9, #678ab6, #748eb3, #7f92b0, #7f92b0, #7f92b0, #7f92b0, #748eb3, #678ab6, #5886b9, #4582bc);
    height: 70px;
    align-items: center;
    display:flex;

}

.n2 h1 {
    padding-left: 2%;
    color: rgb(253, 246, 246);

}

.navbar-brand img {
    height: 100px;
    position: relative;
    top: 20px;
    overflow: visible;
}